/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom css here */

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

body {
  
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#logo {
  position: absolute;
  left: 36px;
  top: 12px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.bouncy {
  animation: bounce 0.5s ease-in-out;
}

#hero {
  position: relative;
  user-select: none;
  background: radial-gradient(circle, #F6E7D7 0%, #FDFFF8 100%);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


h1 {

  color: var(--pinkk, #FF4F99);

  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

h2 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
  text-align: center;
}

#title {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}



#tagline {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  z-index: 2;
  top: 80%;
  transform: translateY(-50%);
  transition: visibility 1s 0s, opacity 1s linear, top 0.5s ease-out;
}

#tagline.hidden {
  top: calc(80% + 48px);
}


canvas {

  /* display: block; */
  position: absolute;
  left: 0;
  top: 0;

  pointer-events: auto;
  /* z-index: 10; */
}


#sketch-holder {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  height: 100%;

}

#cards {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.button-row {
  position: absolute;
  right: 44px;
  top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;

}

.button-row div {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: all .2s ease-in-out;

}

.button-row div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-row div:active {
  transition: none;
  transform: scale(0.9);
}

#product {
  border-radius: 36px;
  background: #BCDAFF;
}

#product p {
  color: #160A9B;
}

#story {
  border-radius: 36px;
  background: #CFEF17;
}

#story p {
  color: #00967D;

}

#waitlist {
  border-radius: 36px;
  border: 4px solid #FFBBE2;
  background: var(--pinkk, #FF4F99);
}

#waitlist p {
  color: #FDFFF8;
}

.product {
  padding: 32px;
}

.product-text {
  flex-direction: column;

  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  max-width: 650px;
}

@media only screen and (max-width: 800px) {
  #hero {
    height: 75%;
    touch-action: none;

  }

  /* #title,
  #tagline {
    font-size: 20px
    left: 20px;
    right: 20px; 
  } */

  #logo{
    left: 50%;
    transform: translateX(-50%) scale(80%);
    top: 8px;
  }
  .button-row{
    display: none;
  }
}