/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom css here */

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

body {
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#logo {
  position: fixed;
  left: 36px;
  top: -12px;
  z-index: 10;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.bouncy {
  animation: bounce 0.5s ease-in-out;
}

#hero {
  position: relative;
  user-select: none;
  background: radial-gradient(circle, #f6e7d7 0%, #fdfff8 100%);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  color: var(--pinkk, #ff4f99);

  font-family: 'Plus Jakarta Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  color: #000;
  font-family: 'Plus Jakarta Sans';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
  text-align: center;
}

#title {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  z-index: 2;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;
}

#gesture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: darken;
}

#tagline {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  z-index: 2;
  top: 80%;
  transform: translateY(-50%);
  transition: visibility 1s 0s, opacity 1s linear, top 0.5s ease-out;
}

#tagline.hidden {
  top: calc(80% + 48px);
}

canvas {
  /* display: block; */
  position: absolute;
  left: 0;
  top: 0;

  pointer-events: auto;
  /* z-index: 10; */
}

#sketch-holder {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  height: 100%;
}

#cards {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-row {
  position: fixed;
  z-index: 10;
  right: 44px;
  top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.button-row div {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  transition: all 0.2s ease-in-out;
}

.button-row div:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.button-row div:active {
  transition: none;
  transform: scale(0.9);
}

#product {
  border-radius: 36px;
  background: #bcdaff;
}

#product p {
  color: #160a9b;
}

#story {
  border-radius: 36px;
  background: #cfef17;
}

#story p {
  color: #00967d;
}

#waitlist,
.waitlist-btn {
  border-radius: 36px;
  border: 4px solid #ffbbe2;
  background: var(--pinkk, #ff4f99);
}

#waitlist p,
.waitlist-btn p {
  color: #fdfff8;
}

.product {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  /* padding: 28px; */
  background: #fdfff5;
  /* font-style: normal; */
  font-variation-settings: 'wght' 600;
  line-height: normal;
}

.product * h1 {
  width: 100%;
  font-size: 32px;
  font-family: 'Plus Jakarta Sans';
  text-align: center;
}

.product * h2 {
  font-size: 24px;
}

.product * p {
  line-height: 132%;
  font-size: 18px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-variation-settings: 'wght' 400;
}

.product-blurb {
  text-align: center;
  width: 90%;
  background: url('assets/email_backdrop.png') transparent 0% / contain
    no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-notepad {
  position: relative;
  top: -180px;
  margin-bottom: -180px;
  width: 70%;
}

.waitlist-input-container {
  padding-top: 40px;
  width: 60%;
  display: flex;
  justify-content: center;
}

.waitlist-input {
  padding: 8px 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 18px;
  color: #936572;
  font-weight: 300;
  border: 2px solid #93657280;
  border-radius: 4px;
  width: 70%;
}

.waitlist-input::placeholder {
  color: #936572df;
}

.waitlist-btn {
  margin-left: 16px;
  padding: 8px 16px;
  font-size: 18px;
  font-family: 'Plus Jakarta Sans';
}

.waitlist-btn:hover {
  cursor: pointer;
}

.product-blurb > p {
  width: 65%;
  font-size: 32px;
  line-height: 1.4;
  color: #7a4051;
}

.product-1 h1 {
  color: #3c83ff;
}

.product-1 .bold {
  font-variation-settings: 'wght' 800;
  color: #0047ff;
}

/* .product-1, .product-2, .product-3{ */
.product > div {
  min-width: 70%;

  align-self: center;
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  /* align-items: center; */
  /* align-self: stretch; */
}
.product .product-1 h2 {
  color: #3c83ff;
}

.product .product-1 p {
  color: #3c83ff;

  line-height: 132.842%; /* 31.882px */
}

.pbold {
  font-variation-settings: 'wght' 800;
}
.product-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  z-index: 1;
  padding: 24px;
  align-items: flex-start;
  gap: 16px;
  /* flex-shrink: 0; */

  box-shadow: 0px 4px 10px 0px rgba(60, 131, 255, 0.1);
}

.product-1 .product-info {
  background: #e7f8ff;
}
.product .thinner {
  font-variation-settings: 'wght' 450;
}

.product .smaller {
  /* width: 315px; */
  font-size: 20px;
}

.product * video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;

  transform: translate(-50%, -50%);
}

.product-1 * .product-image {
  flex: 1;
  aspect-ratio: 1.6;
  transform: rotate(0deg);
  flex-shrink: 0;
  overflow: hidden;
  /* background: rgba(231, 242, 255, 0.5); */
  /* box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05); */
  border-radius: 16px;
  margin-left: -64px;
}

.product-1 * video {
  top: 30%;
}

.product-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-2 p {
  color: #ff644f;
}

.product-2 .product-info-container {
  flex-direction: row-reverse;
}

.product-2 h1 {
  color: #ff644f;
}

.quote-container {
  display: flex;
  flex-direction: column;
  /* justify-content: right; */
  align-items: flex-end;
  gap: 32px;
  width: 300px;
}

.product-2 * h2 {
  /* width: 60%; */
  margin-left: 60px;
  margin-right: -40px;
  color: #e25d47;

  font-family: 'IBM Plex Sans';
  font-size: 24px;
  font-style: italic;
  /* font-weight: 500; */
  font-variation-settings: 'wght' 500;
  line-height: 137.156%;
}

.product-2 .bold {
  font-variation-settings: 'wght' 800;
  /* color: #eb0063; */
}

.product-2 .product-info {
  /* width: 400px; */
  border-radius: 16px;
  background: #fff9f8;
  box-shadow: 0px 4px 10px 0px rgba(0, 150, 125, 0.1);
}

.product-2 * .product-image {
  flex: 1;
  width: 100%;
  aspect-ratio: 1.52;
  transform: rotate(1deg);
  flex-shrink: 0;
  border-radius: 20px;
  background: url('assets/creationscreen.png') lightgray 50% / cover no-repeat;

  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05) inset;
  margin-right: -24px;
}

.product-3 h1,
h2 {
  color: #7e64dd;
}

.product-3 p {
  font-variation-settings: 'wght' 400;
  color: #7e64dd;
}

.product-3 .product-info {
  width: 300px;
  border-radius: 16px;
  background: #ffffea;
  box-shadow: 0px 4px 10px 0px rgba(255, 138, 0, 0.1);
}

.product-3 * .product-image {
  flex: 1;
  width: 100%;
  aspect-ratio: 1.6;
  flex-shrink: 0;
  transform: rotate(0deg);

  background: rgba(231, 242, 255, 0.5);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.product-4 h1 {
  color: #00967d;
}
.product-4 .product-info-container {
  flex-direction: row-reverse;
}

.product-4 * h2 {
  color: #00967d;
}

.product-4 p {
  font-variation-settings: 'wght' 400;
  color: #00967d;
}

.product-4 .product-info {
  border-radius: 16px;
  background: #f1ffca;
  box-shadow: 0px 4px 10px 0px rgba(255, 138, 0, 0.1);
}

.product-4 * .product-image {
  width: 60%;
  aspect-ratio: 1.6;
  transform: rotate(1deg);
  margin-right: -48px;
  flex-shrink: 0;
  background: rgba(231, 242, 255, 0.5);
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  background: url('assets/nextscreen.png') lightgray 50% / cover no-repeat;
}

@media only screen and (max-width: 800px) {
  #hero {
    height: 75%;
    touch-action: none;
  }

  /* #title,
  #tagline {
    font-size: 20px
    left: 20px;
    right: 20px; 
  } */

  #logo {
    left: 50%;
    transform: translateX(-50%) scale(80%);
    top: 8px;
  }
  .button-row {
    display: none;
  }
  .product > div {
    padding: 20px;
  }

  .product-info-container {
    flex-direction: column-reverse;

    /* flex-direction: column; */
  }

  .product-1 * video {
    position: relative;

    width: 180%;
    height: auto;
    /* object-fit:fill; */
    left: 0%;
    top: 0%;
    /* top: 50%; */

    transform: translate(-25%, -25%);
  }
  .product-1 * .product-info {
    width: 100%;
  }
  .product-1 * .product-image {
    overflow: hidden;
    transform: rotate(0);
    box-shadow: none;
    /* transform: none; */

    margin-right: 0;
    margin-left: 0;
  }
}
